{{!-- DIRECCION PARTIDA --}}
<div class="form-group">
    <label>Dirección de Partida:</label>
    <input type="text" id="location_start_address" name="location_start_address"
        value="{{INFORMACION.location_start_address}}" disabled>
</div>
<div class="form-group">
    <label>Latitud:</label>
    <input type="text" id="location_start_latitude" name="location_start_latitude"
        value="{{INFORMACION.location_start_latitude}}" disabled>
</div>
<div class="form-group">
    <label>Longitud:</label>
    <input type="text" id="location_start_longitude" name="location_start_longitude"
        value="{{INFORMACION.location_start_longitude}}" disabled>
</div>


{{!-- DIRECCION LLEGADA --}}
<div class="form-group">
    <label>Dirección de Llegada:</label>
    <input type="text" id="location_end_address" name="location_end_address"
        value="{{INFORMACION.location_end_address}}" disabled>
</div>
<div class="form-group">
    <label>Latitud:</label>
    <input type="text" id="location_end_latitude" name="location_end_latitude"
        value="{{INFORMACION.location_end_latitude}}" disabled>
</div>
<div class="form-group">
    <label>Longitud:</label>
    <input type="text" id="location_end_longitude" name="location_end_longitude"
        value="{{INFORMACION.location_end_longitude}}" disabled>
</div>